{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Hero Section -->
<section class=" relative" style="height:30vh">
    <div class="bg-cover bg-center w-full h-full relative" style="background-image: url({% static 'img/home/bg2.jpg' %});">
    <!-- Content -->
    <h1 class="text-3xl font-bold text-white absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10">MEMBERSHIP</h1>
    </div>
</section>

  <div class="bg-grayishBlack mx-auto py-10">
    <div class="max-w-2xl mx-auto bg-white p-8 rounded-lg shadow-md">
      <h2 class="text-4xl font-bold mb-8">Create Membership</h2>

      <form method="post">
        {% csrf_token %}

        <div class="mb-4">
            <label for="payment_type" class="block text-gray-700 text-sm font-bold mb-2">Payment Type</label>
            <select id="payment_type" name="payment_type" class="w-full p-2 border rounded-md" required>
                {% for payment_choice in payment_choices %}
                    <option value="{{ payment_choice.0 }}">{{ payment_choice.1 }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="mb-4">
          <label for="country" class="block text-gray-700 text-sm font-bold mb-2">Country</label>
          <input type="text" id="country" name="country" class="w-full p-2 border rounded-md" required>
        </div>

        <div class="mb-4">
          <label for="state" class="block text-gray-700 text-sm font-bold mb-2">State</label>
          <input type="text" id="state" name="state" class="w-full p-2 border rounded-md" required>
        </div>

        <div class="mb-4">
          <label for="city" class="block text-gray-700 text-sm font-bold mb-2">City</label>
          <input type="text" id="city" name="city" class="w-full p-2 border rounded-md" required>
        </div>

        <div class="mb-4">
          <label for="address" class="block text-gray-700 text-sm font-bold mb-2">Address</label>
          <textarea id="address" name="address" rows="4" class="w-full p-2 border rounded-md" required></textarea>
        </div>

        <div class="mb-4">
          <label for="membership_type" class="block text-gray-700 text-sm font-bold mb-2">Membership Type</label>
          <select id="membership_type" name="membership_type" class="w-full p-2 border rounded-md" required>
            {% for membership_type in membership_types %}
              <option value="{{ membership_type.id }}">{{ membership_type.name }} - ${{ membership_type.price }}</option>
            {% endfor %}
          </select>
        </div>

        <button type="submit" class="bg-mainRed text-white py-2 px-4 rounded-full text-sm hover:bg-darkRed transition-colors duration-300">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}
